*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}


/*primero container*/
#coint2{
    text-align: center;

}

#h1i2{
    width: 15%;
    height: 15%;

}

/*navegador*/
.li012{
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

.nli012{
    text-decoration: none;
    color: white;
}

ul{
    text-align: center;
    padding: auto;
    background-color: rgb(212, 2, 2);
    font-size: 30px;
}

/*seccion de los miembros*/
#container-miembros{
    height: auto;
    width: auto;
    border-style: solid;
    border-color: rgb(212, 2, 2);
}

/*formato imagenes en members*/
.img_m{
    height: 30px;
    width: 30px;
}