*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}


/*primero container*/
#coint{
    text-align: center;

}

#h1i{
    width: 15%;
    height: 15%;

}

/*navegador*/
.li01{
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.nli01{
    text-decoration: none;
    color: white;
}

ul{
    text-align: center;
    padding: auto;
    background-color: rgb(212, 2, 2);
    font-size: 30px;
}

/*formato del texto*/
.textart{
    text-align: justify;
    color: black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 10px;
    float: left;
}

.h2art{
    text-align: center;
}

p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px, 1px, 25px, 1px;
    padding: 25px;
    font-size: 18px;
}

/*contenido*/
#contenido{
float: left;
width: 68%;
height: 100%;
background-color: transparent;
display: block;
border-radius: 1px;
border-style: solid;
border-color: rgb(212, 2, 2);
margin-top: 5px;
margin-bottom: 5px;
border-top: none; border-left: none; border-bottom: none;
border-top-right-radius: 100px;

}

.ol_1{
    text-align: justify;
}

.pic_05{
    margin-right: 20%;
}

/*aside*/

.cointasa{
    background-color: rgb(212, 2, 2);
    width: 30%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    color: white;
    text-align: center;
}

.asa_pu{
    width: 90%;
    height: 90%;
    padding: 10px;
}

.asa_1{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*clear*/
.clearfix{
    clear: both;
}

/*forter y sus propiedades*/
footer{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    position: static;
    margin-bottom: 0%;
    padding-bottom: 0%;

}

.footp{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    position: static;
    padding-bottom: 0%;
}
